

body {
    background-color: #603913;
    min-width: 300px;
}



/* font */

@font-face {
    font-family: headliner;
    src: url(../../assets/font/HeadlinerNo.45\ DEMO.ttf);
}

@font-face {
    font-family: mikado;
    src: url(../../assets/font/Mikado\ Bold.otf);
}

@font-face {
    font-family: myriad;
    src: url(../../assets/font/MyriadPro-Regular.otf);
}


@font-face {
    font-family: Arials;
    src: url(../../assets/font/Arial\ regular.ttf);
}





p {
    font-family: mikado;
}


.outline-black {
    text-shadow:
    3px 3px 0 #000,
  -3px -3px 0 #000,  
   3px -3px 0 #000,
   -5px 5px 0 #000,
    3px 3px 0 #000;
}

.outline-orange {
    text-shadow:
    5px 5px 0 #331717,
  -5px -5px 0 #331717,  
   5px -5px 0 #331717,
   -5px 5px 0 #331717,
    3px 3px 0 #331717;
}


.teko {
    font-family: 'Teko', sans-serif !important;
    text-transform:uppercase; 
}

.numeric {
    font-family: headliner;
    /* padding: 0px;
    margin: -10px; */
    -webkit-text-stroke: 0.1px black;
}

.f-63 {
    font-size: 63px;
    color: white;
}

.f-49 {
    font-size: 49px;
    color: white;
}

.f-54 {
    font-size: 54px;
    color: white;
}

.f-42 {
    font-size: 42px;
    color: white;
}

.f-32 {
    font-size: 32px;
    color: white;
}

.f-34 {
    font-size: 34px;
    color: white;
}


.f-112 {
    font-size: 112px;
    color: white;
}

.f-102 {
    font-size: 102px;
    color: white;
}

.f-76 {
    font-size: 76px;
    color: #E1B50E;
}

.f-23 {
    font-size: 23px;
}

.f-27 {
    font-size: 27px;
}


.display-5 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.yellow {
    color: #fcd000;
}

.redp {
    color: #993234;
}

.bg-brown {
    background-image: url(../../assets/img/brown.png);
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    height: 100px;
    width: 100%;
}

.z-9 {
    z-index:9 ;
    position: relative;
}


.social-link {
    font-family:  mikado;
    color: white;
    font-size: 23px;
    display: flex;
    align-items: center;
    padding: 20px;
    white-space: nowrap;
}


.social-link:hover {
    color: #fcd000;
    text-decoration: none;
}

.btn-ylw {
    background: url(../../assets/img/btn-yellow.png) no-repeat;
    padding: 0px 50px ;
    background-size: 100% 100%;
    display: inline-block;
    color: black;
    border: 0px;
    text-align: center;
    font-family: headliner;
    font-size: 35px;
    padding-top: 5px;
    letter-spacing: 3px;
    cursor: pointer;
}

.hlmn {
    font-size: 22px !important;
    padding: 7px 25px;
    letter-spacing: 1px;
}

#ig {
    content: url(../../assets/img/instagram-white.png);
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#fb {
    content: url(../../assets/img/fb-white.png);
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


#people {
    content: url(../../assets/img/people.png);
    width: 200px;
    height: 250px;

}

header {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    height: 115vh;
}

.head {
    background-image: url('../../assets/img/headercvr.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 130vh;
}

.logo-capucino a img {

    position: absolute;
    top: 2%;
    right: 3%;

}

.caption img {

    position: absolute;
    width: 45% !important;
    max-width: 100% !important;
    bottom: 20%; 
    left: 15%;
}


/* redem */

.redem {
    background-image: url('../../assets/img/redem.png');
    position: relative;
    z-index: 0;
    padding-top: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vdeo {
    border-radius: 10px;
    border: 7px solid #251600;
}

.ico img {
    width: 165px;
    height: auto;
    padding-right: 20px;
    margin: 0 auto;
}

.__list h3 {
    width: 80px;
}

.__list:first-child p::before{
    content: url(../../assets/img/border.png);
    width:100%;
    display: block;
    overflow: hidden;
}
.__list p::after {
    content: url(../../assets/img/border.png);
    width:100%;
    display: block;
    overflow: hidden;
}


.bg {
    background: url(../../assets/img/bg-btm.png) no-repeat;
    background-size: cover;
}

.instagram img {
    width: 150px;
}



hr {
    height: 4px;
    background: url(../../assets/img/border-y.png) no-repeat center;
    border: none;
    background-size: 100%;
    margin: 0px;
    padding: 0px;
    }

hr.rotate {
    background: url(../../assets/img/border-r.png);
    height:100%;
    width: 3px;
    position: absolute;
}

.xpubgm h3 {
    text-align: center;
    padding-left: 10px;

}

.steps {
    background: url(../../assets/img/yellow-bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
}

.step img {
    width: auto;
    height: 50px;
    margin: 0 auto;
}

.playstore {
    position: relative;
}

.playstore img {
    position: absolute;
    width: auto;
    height: 300px !important;
    margin: 0 auto;
    top: -20px;
    left: 7px;
}

.playstore p {
    position: relative;
    bottom: -98px;
    min-height: 100px;
}

img.pubg-player {
    position: absolute;
    bottom: -5px;
    width: 400px;
    left: 35%;
}

.date-capt {
    background-color: #00000080;
    text-align: center;
}

.date-capt p {
    color: white;
    padding: 10px;
    margin: 0px;
    padding-top: 15px;
    font-size: 25px;
}





footer {
    background-color: #251600;
    position: relative;
    color: white;
}


.myrd {
    font-family: myriad;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}


.step_:first-child::before {
    content: '';
    background: url(../../assets/img/border-r.png);
    min-height: 300px;
    width: 3px;
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
}


.section-foot {
    position: relative;
}


.pepl {
    position: absolute;
    left: 2%;
}



.content-c {
    word-wrap: break-word;
}



.light {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #afafaf26;
    top: 0;
}


.light:hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0000007d;
    top: 0;
    }

a#modal:hover {
    text-decoration: none;
    list-style-type: none;
    color: #ffc107 !important;
}


/* modal */

.mdl-hdr {
    background: #fcd000;
    color: #993234;
}

.x-c {
    color: #993234;
}

/* responsive */






@media only screen and (min-width: 1887px) {

    img.pubg-player {
        position: absolute;
        bottom: -5px;
        width: 400px;
        left: 42%;
    }


    .playstore img {
        left: 13% !important;
    }

}


@media only screen and (min-width: 1510px) {

    .playstore img {
        left: 8% !important;
    }

}


@media only screen and (max-width: 1365px) {

    .pepl {
        position: relative !important;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .display-5 {
        font-size: 2.9rem;
    }


    .caption img {

        width: 60% !important;
    }
    
    

}


@media only screen and (max-width: 1321px) {
    
    .display-5 {
        font-size: 2.5rem;
    }

}



@media only screen and (max-width: 1169px) {
    
    .display-5 {
        font-size: 2.2rem;
    }


    .caption img {

        width: 70% !important;
    }
    
    .playstore img {
        left: -17px;
    }
 
 }


@media only screen and (max-width: 1083px) {

   .playstore img {
       width: auto;
       height: 250px !important;
       top: 0px;
   }


   .share-txt {
    font-size: 29px;

    }

}


@media only screen and (max-width: 1024px) {
    

    .caption img {
        width: 90% !important;
        left: 5%;
        top: 40%;
    }



    .head {

        background-position:79% !important;
        background-size: cover !important;

    }

}



@media only screen and (max-width: 1054px) {

    .display-5 {
        font-size: 2rem;
    }
 
 }



@media only screen and (max-width: 991px) {

    .caption img {

        width: 80% !important;
    }
    

    #res-pubg .row {
        justify-content: center !important;
    }
 

    .step_:first-child::before {
        display: none;
    }


    .playstore img {
        position: relative;
        margin-top: -100px;
        left: 7px;
    }

    .playstore p {
        position: relative;
        bottom: 50px;
    }




    .display-5 {
        font-size: 3rem;
    }

    .share-txt {
        text-align: center;
    
        }
    
    .step p {
        color: white!important;
    }



 }





  @media only screen and (max-width: 630px) {

    .content-c {
        word-wrap: break-word;
        font-size: 20px;
    }

    .instagram img {
        width: 120px;
    }

    .instagram .capt h1 {
        font-size: 80px;
    }

    .xpubgm {
        justify-content: center !important;
    }
    .xpubgm h3 {
        font-size: 40px;
    }

    .fun {
        padding: 0px !important;
    }

    .fun h3 {
        font-size: 38px;
    }


    .pubg-player {
        max-width: 300px !important;
    }

    .social {
    flex-wrap: wrap;
    }

    .pepl {
        left: 0%;
    }


    .chellenge .pl-5 {
        padding: 20px !important;
    }


    .caption img {
        width: 100% !important;
        bottom: 40%;
        left: 0%;
    }



  }


  @media only screen and (max-width: 490px) {

    img.pubg-player {
        position: absolute;
        bottom: -5px;
        width: 200px !important;
        left: 35%;
    }


    .xpubgm {
        flex-wrap: wrap;
    }


    .__list {
        flex-wrap: wrap;
    }


    .instagram img {
        width: 100px !important;
    }
  
    .instagram .capt h1 {
        font-size: 60px;
    }

    .title h3 {
        font-size: 40px;
        padding: 0 20px;
    }


    .content-c .row:first-child .pl-5:nth-child(2){
        padding: 0px !important;
    }


    .capt h4 {
        font-size: 30px;
        margin-top: 30px !important;
    }


    .capt h4 span {
        font-size: 60px;
    }

    .hlmn {
        padding-top: 10px;
        font-size: 18px !important;
    }


}



@media only screen and (max-width: 350px) {

    .instagram img {
        width: 80px !important;
    }


    .capt h4 {
        font-size: 22px;
        margin-top: 22px !important;
    }

    .capt h4 span {
        font-size: 50px;
    }


    .fun h3 {
        font-size: 32px;
    }

    img.pubg-player {
        left: 25% !important;
    }


    .f-42 {
        font-size: 38px;
        color: white;
    }


    .hlmn {
        font-size: 12px !important;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 60%;
        margin: 1.75rem auto;
    }
}